<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<meta name="author" content="Ganesan Karuppaiya">
	<meta name="description" content="Ganesan Karuppaiya is a UI designer, Web Developer and Innovator  with over 9 years of experience who solves challenges through design thinking">
	<meta name="keywords" content="ganesan, karuppaiya, ganesan karuppaiya, ganny, ui designer, ui developer, angular developer, react developer, web designer, web developer, chennnai web designer, web designer in chennai, ganesan infosys, ganesan larsen and toubro, ganesan lnt, ganesan thanjavur">
	<meta charset="UTF-8">
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Homepage | Ganesan Karuppaiya" />
	<meta property="og:url" content="https://ganny.in/" />
	<meta property="og:site_name" content="Ganesan Karuppaiya" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Homepage | Ganesan Karuppaiya" />
	<meta name="twitter:site" content="@ganesankar" />
	<meta name="twitter:creator" content="@ganesankar" />
	<title> Ganesan Karuppaiya : Github Profile</title>

	<link rel='stylesheet' href='https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<!--CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/main.css">
<!--JS -->
	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/main.js"></script>
</head>

<body id="app">

	<header id="header" id="home">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="index.html">GANNY</a>
				</div>
				<nav id="nav-menu-container">
					<div class="footer-social d-flex align-items-center">
						<a v-bind:href="socialitem.elink" v-for="socialitem in social">
							<i class="fa  fa-lg" :class="socialitem.name"></i>
						</a>
					</div>
				</nav>
				<!-- #nav-menu-container -->
			</div>
		</div>
	</header>
	<!-- #header -->
	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-start">
				<div class="banner-content col-lg-7 col-md-12">
					<h1 class="text-uppercase"> SO MUCH MORE THAN PIXELS</h1>
					<h3>
						I'm Ganesan and i design digital platforms that elevate the user experience
					</h3>
					<p>
						the graphics and web designer by nature. self taught programmer playing with user experience.creator of clean and sharp interfaces
						and innovator focusing business, users and success
					</p>
					<a href="#" class="primary-btn header-btn text-uppercase">EXPLORE MORE</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	<!-- Start info Area -->
	<section class="info-area" id="about">
		<div class="container-fluid">
			<div class="row d-flex justify-content-end align-items-center">
				<div class="col-lg-6 col-md-12 info-left no-padding pr-5">
					<img class="img-fluid" src="img/info-img.jpg" alt="">
				</div>
				<div class="col-lg-6 col-md-12 info-right no-padding">

					<p>
						A creative UX and UI designer with great business and design background who loves clean and sharp interfaces. with extreme
						passion and believe that great graphics in combination with a great user experience can make nearly every app or website
						a huge success;
					</p>
					<p>
						I specialise in product development, interactive design, graphic design, and business development. In ultimate i see output
						of my work, which is always focused at the point where user, business and technical requirements meet and tends to
						become a perfect product.
					</p>
					<button class="primary-btn mt-20 text-uppercase"> MY SERVICES
						<span class="lnr lnr-arrow-right">
					</button>
				</div>
			</div>
		</div>
	</section>
	<!-- End info Area -->


	<!-- Start service Area -->
	<section class="service-area section-gap relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex justify-content-left text-left">
				<div class="col-sm-1">
					<hr class="dash" /> </div>
				<div class="col-sm-8 pb-40 header-text text-left text-white">
					<h6 class="mb-2  text-white">WHAT I DO</h6>
					<h3 class="mb-2  text-white">Building Brands, Designing Interface and User Experience and more</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4>
							<span class="lnr lnr-user"></span>VISUALISING IDEAS</h4>
						<p>
							Every great design starts with an simple idea and best way to present an idea is to visualise it. It makes your idea alive.
							In many cases, visualisation helps to understand the story of the business idea.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4>
							<span class="lnr lnr-license"></span>INNOVATIVE INTERFACES</h4>
						<p>
							It’s very important that all the fundamental parts are well defined and working This is where problem solving meets visual
							impact. I’ll unite products and users, design and experiences.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4>
							<span class="lnr lnr-rocket"></span>BUILDING PRODUCTS</h4>
						<p>
							It doesn’t stop with design. I can develop your product from visual concept to fully functional website with defined standards
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End service Area -->

	<!-- Start testimonial Area -->
	<section class="testimonial-area relative ">
		<div class="overlay-bg section-gap">

			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10 text-white">Why Choose Us Your Fitness Builder</h1>
							<p class="text-white">Who are in extremely love with eco friendly system.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="active-testimonial">
						<div class="github-projects item d-flex flex-row">
							<div class="thumb">
								<img class="img-fluid" src="img/user1.png" alt="">
							</div>
							<div class="desc">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector,
									hardware.
								</p>
								<h4 mt-30>Mark Alviro Wiens</h4>
								<p>CEO at Google</p>
							</div>
						</div>
						<div class="github-projects item d-flex flex-row">
							<div class="thumb">
								<img class="img-fluid" src="img/user2.png" alt="">
							</div>
							<div class="desc">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector,
									hardware.
								</p>
								<h4 mt-30>Mark Alviro Wiens</h4>
								<p>CEO at Google</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- End testimonial Area -->









	<!-- start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h4 class="text-white">About Us</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h4 class="text-white">Contact Us</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
						</p>
						<p class="number">
							012-6532-568-9746
							<br> 012-6532-569-9748
						</p>
					</div>
				</div>
				<div class="col-lg-5  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h4 class="text-white">Newsletter</h4>
						<p>You can trust us. we only send offers, not a single spam.</p>
						<div class="d-flex flex-row" id="mc_embed_signup">


							<form class="navbar-form" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							    method="get">
								<div class="input-group add-on">
									<input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
									    required="" type="email">
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>
									<div class="input-group-btn">
										<button class="genric-btn">
											<span class="lnr lnr-arrow-right"></span>
										</button>
									</div>
								</div>
								<div class="info mt-20"></div>
							</form>

						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				<p class="footer-text m-0">Copyright &copy;
					<script>
						document.write(new Date().getFullYear());
					</script> All rights reserved | This template is m
				</p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				<div class="footer-social d-flex align-items-center">
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="#">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="#">
						<i class="fa fa-dribbble"></i>
					</a>
					<a href="#">
						<i class="fa fa-behance"></i>
					</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

</body>

</html>
